name: Continuous Integration (Shared)

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  continuous_integration:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-ci-${{ hashFiles('**/Cargo.lock') }}

    - name: Check
      run: |
        cargo fmt --check
        cargo clippy --workspace --all-targets -- -D warnings

    - name: Build
      run: cargo build --workspace --verbose

    - name: Test
      run: |
        cargo test --workspace --tests --verbose
        cargo test --workspace --doc --verbose
        cargo test --workspace --examples --verbose
