name: Coverage (Shared)

on:
  workflow_call:

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-coverage-${{ hashFiles('**/Cargo.lock') }}

    - name: Install
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-tarpaulin

    - name: Measure
      run: cargo tarpaulin --workspace --skip-clean --out Xml --output-dir coverage

    - name: Record
      uses: coverallsapp/github-action@v2
